{% extends "layout.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('bundles/gfi/css/check-email.css') }}" rel="stylesheet">
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="form-container">
    <p class="login-logo"><img src="{{ asset('bundles/gfi/img/login-logo.png') }}"></p>
    <p class="registration-check-email-text">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    <p><a id="btn-ok" class="btn btn-lg btn-primary btn-block" href="{{ path('fos_user_security_login') }}">OK</a></p>
</div>
{% endblock fos_user_content %}
