{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block pageheader %}Dashboard{% endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="col-md-4">
            <h2>Page</h2>
            <p>Manage and create many page as you want.</p>
            <p>
                <a href="{{  path('page_new') }}" class="btn btn-primary">New page</a>
                <a href="{{  path('page_index') }}" class="btn btn-default">Page list</a>
            </p>
        </div>
    </div>
{% endblock %}
