<h3 align="center">Vous compte est validé! Connectez-vous dès maintenant!</h3>

<p align="center">
	Bonjour {{ firstname }} {{ lastname }},<br />
	Votre compte a été approuvé.<br/>
	Vous pouvez désormais créer des tickets via l'application Modulo.
</p>

<p align="center">
	<a href="#">Connexion</a>
</p>