<h3 align="center">Vous compte est validé! Connectez-vous dès maintenant!</h3>

<p align="center">
	Bonjour {{ firstname }} {{ lastname }},<br />
	Votre compte client n°{{ tntAccount }} a été approuvé par TNT.<br/>
	Vous pouvez désormais créer des tickets via l'application Support Ecommerce TNT.
</p>

<p align="center">
	<a href="http://support.ecommerce.tnt.fr">Connexion</a>
</p>