.form-container {
  height: 436px;
  padding-top: 39px;
}
.form-signin input[type="text"] {
  margin-bottom: 12px;
}
.form-signin input[type="password"] {
  margin-bottom: 34px;
}/*
#username {
  background: url(../img/icon-compte.png) 11px 10px no-repeat;
  padding-left: 50px;
}
#password {
  background: url(../img/icon-password.png) 11px 10px no-repeat;
  padding-left: 50px;
}*/
a.link-reset {
  margin-top: 12px;
  text-decoration: underline;
  color: #46B1DD;
}
a:hover.link-reset {
  color: #0995D2;
  text-decoration: none;
}