/* Style du formulaire */
.form-container {
  padding-top: 39px;
  padding-bottom: 57px;
}
.form-signin input[type="email"], input[type="text"], input[type="password"] {
  margin-bottom: 12px;
}
#fos_user_registration_form_email:after {
  content: '*';
}
#fos_user_registration_form_email, #fos_user_registration_form_username {
  background: url(../img/icon-compte.png) 11px 10px no-repeat;
  padding-left: 50px;
}
#fos_user_registration_form_plainPassword_first, #fos_user_registration_form_plainPassword_second {
  background: url(../img/icon-password.png) 11px 10px no-repeat;
  padding-left: 50px;
}
#fos_user_registration_form_company {
  background: url(../img/icon-company.png) 11px 10px no-repeat;
  padding-left: 50px;
}
#fos_user_registration_form_website {
  background: url(../img/icon-website.png) 11px 10px no-repeat;
  padding-left: 50px;
}
#fos_user_registration_form_firstname, #fos_user_registration_form_lastname, #fos_user_registration_form_civility {
  background: url(../img/icon-user.png) 11px 10px no-repeat;
  padding-left: 50px;
}
#fos_user_registration_form_phone {
  background: url(../img/icon-phone.png) 11px 10px no-repeat;
  padding-left: 50px;
}
#fos_user_registration_form_email {
  background: url(../img/icon-mail.png) 11px 10px no-repeat;
  padding-left: 50px;
}
#fos_user_registration_form_civility {
  border: none;
}
#fos_user_registration_form_civility label{
  color: #999;
  font-weight: normal;
  margin-left: 5px;
  margin-right: 20px;
}
/* Style du Captcha */
#captcha-container img {
  float: left;
}
#captcha-container ul {/* Message d'erreur si code faux */
  list-style: none;
  padding-left: 0;
  color: red;
  font-weight: bold;
  text-align: center;
}
#fos_user_registration_form_captcha {
  float: right;
  width: 198px;
  margin-left: 5px;
}
/* Resetting request content username or email input */
#username {
  background: url(../img/icon-mail.png) 11px 10px no-repeat;
  padding-left: 50px;
}