body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F3F3F3;
}
.login-logo {
  text-align: center;
  margin-bottom: 43px;
}
.form-container {
  padding: 39px 40px 57px 40px;
}
.alert {
  display: none;
}
.registration-check-email-text {
  text-align: justify;
  margin-bottom: 34px;
  font-size: 1em;
}