body{
	background: #F3F3F3 !important;
}
.bg-white {
	background: #fff;
}
.header {
	height: 80px;
}
.logo {
	background: #FF6600;
	color: white;
	height: 80px;
	line-height: 80px;
	text-align: center;
}
.logo img {
	max-width: 91px;
}
.titre {
	font-size: 1.5em;
	color: #B7B7B7;
	text-align: left;
	padding-left: 28px;
	line-height: 80px;
	font-weight: bold;
}
.user {
	color: #697279;
	text-align: right;
	line-height: 80px;
}
.user span.glyphicon {
	color: #FF6600;
}
.col-gauche {
	background: url(../img/logo-gfi.jpg) bottom no-repeat #fff;
	padding: 0px 0px 108px 0px;
}
.col-gauche ul.nav li a {
	text-transform: uppercase;
	color: #697279;
}
.col-gauche ul.nav li a img {
	margin-right: 5px; 
}
.content {
	margin: 10px;
	padding: 10px 10px 50px 10px;
	background: #fff;
	border-radius: 5px;
	border: #F7F7F7 1px solid;
	min-height: 200px;
}
.bloc-visuel-space {
	width: 5%;
	float: left;
	position: relative;
}
.bloc-visuel {
	background: white;
	border-radius: 10px;
	border: #F7F7F7 1px solid;
	float: left;
	position: relative;
	width: 30%;
}
.bloc-visuel p a.btn {
	background: #FF6600;
	border: none;
	color: white;
}
.bloc-visuel p {
	text-align: center;
	margin-top: 271px;
}
div.bloc-visuel#ticket {
	background: url(../img/visuel-ticket.png) top right no-repeat #fff;
	min-height: 261px;
}
div.bloc-visuel#rappel {
	background: url(../img/visuel-rappel.png) top right no-repeat #fff;
	min-height: 261px;
}
div.bloc-visuel#baseco {
	background: url(../img/visuel-baseco.png) top right no-repeat #fff;
	min-height: 261px;
}
div.tickets-last div.panel {
	border: #F6F7FA 1px solid !important;
}
div.tickets-last div.panel-heading {
	background: white;
}
table.table-ticket td {
	border: #DEDEDE 1px solid;
}
table.table-ticket thead {
	background: #F2F2F2;
	color: #B4B4B4;
}